@import "tailwindcss";

:root {
  --background: #0F0F0F;
  --foreground: #F0F0F0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

html {
  background: #0F0F0F;
}
